* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  object-fit: contain;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  width: 100px;
  object-fit: contain;
}

.app__signupImage {
  width: 100px;
  margin: 0 auto;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

